# VSCode files
node_modules*
.vscode
*.json

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
**.tar.gz
**/PK-Sim DBs/**/**/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
*.Rproj

# OAuth2 token
.httr-oauth

# R Environment Variables
.Renviron

# local expression data files
*Bgee_*/*
**/BgeeDBs/**/*.tsv

# local non compressed DBs
*.DB
*.db
*.expressionDB
*.expressionDb